html {
  @apply antialiased;
}
body {
  @apply m-0 p-0;
}

table thead tr {
  @apply border-b border-gray-300;
}

table th,
table td {
  min-width: 64px;
  @apply px-3 py-2;
}

/* Описать в одельном файле */
.button:disabled,
button[disabled] {
  color: #a7a7a7;
  background-color: #7c7c7c!important;
}
